@font-face {
    font-family: 'ffinish';
    src: url(/media/fFinish.ttf);
}

@font-face {
    font-family: 'caviardreams';
    src: url(/media/CaviarDreams.ttf);
}

*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.content{
    flex: 1;
}

#vidbg{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index:-1;
}

/* parent container of navbar */
header{
    background-color: #ffb700;
    width: 100vw;
    height: fit-content;
    position: fixed;
    display: flex;
    flex-direction: column;
}

/* navbar */
nav{
    display: flex;
    width: 100vw;
    justify-content: space-around;
}

.leftmenu, .rightmenu{
    margin-top: 4vh;
    word-spacing: 3vw;
}

.leftmenu a:hover, .rightmenu a:hover{
    background-color: #ff8800;
    padding: 1vw;
    border: none;
    border-radius: 25%;
}

.leftmenu a, .rightmenu a{
    font-family: 'ffinish';
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    
}

.dropdown{
    text-align: center;
    align-self: center;
    padding-bottom: 2vh;
}

button{
    display: none;
    border: none;
    background-color: #ffb700;
    font-family: 'ffinish';                                                                    
}

.drop-content{
    display: none;
    position: absolute;
    padding: 2vh;
}

.drop-content a{
    display: block;
    text-decoration: none;
    font-family: 'ffinish';
    color: black;
    text-transform: uppercase;
    line-height: 3vh;
}

.drop-content a:hover {background-color: #ff8800;}

.dropdown:hover .drop-content {
    display: block;
    background-color: #ffdd00;
    border-radius: 10%;
}

.dropdown:hover button {background-color: #ff8800;}

/* title on navbar */
.title{
    font-family: 'ffinish';
    padding: 2vh;
    font-size: 3.5em;
}

/* banner */
.banner{
    display: flex;
    background-color: 	rgba(238,238,238,0.5);
    flex-direction: column;
    margin-top: 40vh;
    margin-bottom: 10vh;
}

/* heading on banner */
.heading{
    font-size: 4em;
    font-family: 'ffinish';
    align-self: center;
    padding-top: 3vh;
}

/* highlighted text on heading */
.bees{
    color: #ffd000;
    text-shadow: -2px -2px 0 #ffffff, 2px -2px 0 #ffae00, -2px 2px 0 #6d3500, 2px 2px 0 #2c1500;  
}

/* paragraph and list */
article{
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

article p, ul{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif
}

ul{
    margin-top: 3vh;
    margin-bottom: 3vh;
}

footer{
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    background-color: #ffb700;
    padding: 1vh;
    justify-content: center;
}

/* icons on footer */
.icon{
    position: relative;
    height: 66px;
    width: 66px;
    border-radius: 50%;
}

#fb{background: url(/media/sprite.png) no-repeat -439px -146px;}
#twt{background: url(/media/sprite.png) no-repeat -66px -72px;}
#ig{background: url(/media/sprite.png) no-repeat -290px -221px;}
#heart{background: url(/media/sprite.png) no-repeat -587px -221px;}

@media screen and (max-width: 720px) {
    article p, ul{font-size: 1.4em;}
    .heading{font-size: 3em;}
    .leftmenu, .rightmenu{display: none;}
    button{
        display: block;
        font-size: 2em;
        border-radius: 10%;
        padding: 2vh;
    }
    .title{
        font-size: 4em; 
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 600px) {
    article p, ul{font-size: 1em;}
    .heading{font-size: 2em;}
    .leftmenu, .rightmenu{display: none;}
    button{
        display: block;
        font-size: 1.2em;
        border-radius: 10%;
        padding: 2vh;
    }
    .title{
        font-size: 2em; 
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 480px) {
    article p, ul{font-size: 1.4em;}
    .heading{font-size: 3em;}
    .leftmenu, .rightmenu{display: none;}
    button{
        display: block;
        font-size: 1em;
        border-radius: 10%;
        padding: 2vh;
    }
    .title{
        font-size: 2em;
        
        margin-top: 3vh;
    }
}